<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="css/style.css" rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<title>珍环-目标设定</title>
	</head>
	<body>
		<div class = "set_goal_block">
			<div class="header">
				<h1>每日运动目标</h1>
			</div>
			<form style="font-size:80px">
				步数:<input  style="font-size:70px" type="text" id="goal_step"><br>
				里程:<input  style="font-size:70px" type="text" id="goal_dis"><br>
				<input style="font-size:50px" type="submit" value="提交" alt="Submit" width="48" height="48" >
			</form>
			<h1>
		</div>
		<script type="text/javascript" src = "scripts/setgoal.js"></script>
	</body>
</html>
