<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ user }}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" />
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" />
    <link href="/static/css/font-awesome.css" rel="stylesheet" />
    
    <link href="/static/css/adminia.css" rel="stylesheet" /> 
    <link href="/static/css/adminia-responsive.css" rel="stylesheet" /> 
    
    <link href="/static/css/pages/dashboard.css" rel="stylesheet" /> 
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
	
<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 				
			</a>
			
			<a class="brand" href="./{{ user }}">{{ user }}</a>
			
			<div class="nav-collapse">
			
				<ul class="nav pull-right">
					<li>
						<a href="#"><span class="badge badge-warning">7</span></a>
					</li>
					
					<li class="divider-vertical"></li>
					
					<li class="dropdown">
						
						<a data-toggle="dropdown" class="dropdown-toggle " href="#">
							{{ user }}  <b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
							<li>
								<a href="/static/account.html"><i class="icon-user"></i> Account Setting  </a>
							</li>
							
							<li>
								<a href="/static/change_password.html"><i class="icon-lock"></i> Change Password</a>
							</li>
							
							<li class="divider"></li>
							
							<li>
								<a href="./"><i class="icon-off"></i> Logout</a>
							</li>
						</ul>
					</li>
				</ul>
				
			</div> <!-- /nav-collapse -->
			
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->




<div id="content">
	
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<div class="account-container">
				
					<div class="account-avatar">
						<img src="/static/img/headshot.jpg" alt="" class="thumbnail" />
					</div> <!-- /account-avatar -->
				
					<div class="account-details">
					
						<span class="account-name">{{ user }}</span>
						
						<span class="account-role">Administrator</span>
						
						<span class="account-actions">
							<a href="javascript:;">Profile</a> |
							
							<a href="javascript:;">Edit Settings</a>
						</span>
					
					</div> <!-- /account-details -->
				
				</div> <!-- /account-container -->
				
				<hr />
				
				<ul id="main-nav" class="nav nav-tabs nav-stacked">

					<li>
						<a href="../TodayChart/{{ user }}">
							<i class="icon-signal"></i>
							Today
						</a>
					</li>
					
					<li>
						<a href="../YesterdayChart/{{ user }}">
							<i class="icon-user"></i>
							Yesterday
						</a>
					</li>
					
					<li class="active">
						<a href="./{{ user }}">
							<i class="icon-lock"></i>
							Last Week
						</a>
					</li>
					
				</ul>	
				
				
				
				<hr />
				
				<div class="sidebar-extra">
					<p>Proper and frequent exercise makes you healthier!</p>
				</div> <!-- .sidebar-extra -->
				
				<br />
		
			</div> <!-- /span3 -->
			
			
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-signal"></i>
					Charts					
				</h1>
				
								<div class="stat-container">
										
					<div class="stat-holder">						
						<div class="stat">							
							<span>{{ accuStep }}</span>
							Accumulative Steps
						</div> <!-- /stat -->						
					</div> <!-- /stat-holder -->
					
					<div class="stat-holder">						
						<div class="stat">							
							<span>20%</span>
							Finished percentage
						</div> <!-- /stat -->						
					</div> <!-- /stat-holder -->
					
				</div> <!-- /stat-container -->
				<!-- ##
				<div class="widget">
					
					<div class="widget-header">
						<h3>Area Chart</h3>
					</div> <!-- /widget-header -->
				<!--	##
					<div class="widget-content">
						
						<div id="area-chart" class="chart-holder"></div> <!-- /area-chart -->
						
						
                <!--   ##
					</div> <!-- /widget-content -->
				<!--	##
				</div> <!-- /widget -->
				
				
				
				<div class="widget">
					
					<div class="widget-header">
						<h3>Line Chart</h3>
					</div> <!-- /widget-header -->
														
					<div class="widget-content">
						
						<div id="line-chart" class="chart-holder"></div> <!-- /donut-chart -->
						
						
										
					</div> <!-- /widget-content -->
					
				</div> <!-- /widget -->
				
				
				
				<div class="widget">
					
					<div class="widget-header">
						<h3>Bar Chart</h3>
					</div> <!-- /widget-header -->
														
					<div class="widget-content">
						
						<div id="bar-chart" class="chart-holder"></div> <!-- /donut-chart -->
						
						
										
					</div> <!-- /widget-content -->
					
				</div> <!-- /widget -->
				
				
				
				
				<div class="widget">
					
					<div class="widget-header">
						<h3>Pie Chart</h3>
					</div> <!-- /widget-header -->
														
					<div class="widget-content">
						
						<div id="pie-chart" class="chart-holder"></div> <!-- /donut-chart -->
						
						
										
					</div> <!-- /widget-content -->
					
				</div> <!-- /widget -->
				
				
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->
					
	
<div id="footer">
	
	<div class="container">				
		<hr />
		<p>CopyRight &copy; 2015 珍环传, All Rights Reserved</p>
	</div> <!-- /container -->
	
</div> <!-- /footer -->


    

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery-1.7.2.min.js"></script>
<script src="/static/js/excanvas.min.js"></script>
<script src="/static/js/jquery.flot.js"></script>
<script src="/static/js/jquery.flot.pie.js"></script>
<script src="/static/js/jquery.flot.orderBars.js"></script>
<script src="/static/js/jquery.flot.resize.js"></script>


<script src="/static/js/bootstrap.js"></script>
 <script type="text/javascript">
   $(function () {
	var data = new Array ();
    var ds = new Array();

	data.push ({{ info }});

    for (var i=0, j=data.length; i<j; i++) {

	     ds.push({
	        data:data[i],
	        grid:{
            hoverable:true
        },
	        bars: {
	            show: true,
	            barWidth: 0.5,
	            order: 1,
	            lineWidth: 0.5,
				fillColor: { colors: [ { opacity: 0.65 }, { opacity: 1 } ] }
	        }
	    });
	}

    $.plot($("#bar-chart"), ds, {
    	colors: ["#F90", "#3C4049", "#666", "#BBB"]
    });
    $.plot($("#line-chart"),
           [ { data: {{ info }}, label: "real steps"} ], {
               series: {
                   lines: { show: true },
                   points: { show: true }
               },

               grid: { hoverable: true, clickable: true },
    	colors: ["#F90", "#3C4049", "#666", "#BBB"]
             });
    var data = []
    var series = 4;
       data[0] = { label: "walk", data: Math.floor(Math.random()*100)+1 }
       data[1] = { label: "heel-and-toe", data: Math.floor(Math.random()*100)+1 }
       data[2] = { label: "bike", data: Math.floor(Math.random()*100)+1 }
       data[3] = { label: "run", data: Math.floor(Math.random()*100)+1 }

    $.plot($("#pie-chart"), data,
	{
			colors: ["#F90", "#3C4049", "#666", "#BBB"],
			series: {
				pie: {
					show: true,
					label: {
						show: false,
						formatter: function(label, series){
							return '<div style="font-size:11px;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
						},
						threshold: 0.1
					}
				}
			},
			legend: {
				show: true,
				noColumns: 1, // number of colums in legend table
				labelFormatter: null, // fn: string -> string
				labelBoxBorderColor: "#888", // border color for the little label boxes
				container: null, // container (as jQuery object) to put legend in, null means default on top of graph
				position: "ne", // position of default legend container within plot
				margin: [0, 10], // distance from grid edge to default legend container within plot
				backgroundOpacity: 0 // set to 0 to avoid background
			},
			grid: {
				hoverable: false,
				clickable: false
			},
	});


});
 </script>

<!--<script src="/static/js/charts/area.js"></script>-->



  </body>
</html>
