<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="/static/info/css/style.css" rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<title>珍环-目标设定</title>
	</head>
	<body>
		<div class = "set_goal_block">
			<div class="header">
				<h1>加入珍环</h1>
			</div>
			<form style="font-size:80px" action="register" method="post">
				性别:<select  style="font-size:70px"  name="sex">
					<option value="male">男</option>
					<option value="female">女</option>
				</select><br>
				年龄:<input  style="font-size:70px" type="text" name="age"><br>
                身高:<input  style="font-size:70px" type="text" name="height"><br>
                体重:<input  style="font-size:70px" type="text" name="weight"><br>
				<div class="header">
					<h1>每日目标</h1>
				</div>
				步数:<input  style="font-size:70px" type="text" name="goal_step"><br>
				里程:<input  style="font-size:70px" type="text" name="goal_dis"><br>
				<input style="font-size:50px" type="submit" value="提交" alt="Submit" width="48" height="48" >
			</form>
			<h1>
		</div>
		<script type="text/javascript" src = "/static/info/scripts/setgoal.js"></script>
	</body>
</html>


